.container{
    margin-bottom: 100px;
}
.text-danger-icon i{
    color: red;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.6s;
    text-shadow: none;  
}

.text-danger-icon i:hover{    
    font-weight: 400;
    /*text-shadow: 0px 0px 3px rgba(0,0,0,0.4);*/
}
.row-disabled{
    opacity: 0.4;
}

/* Modal para modificar */
.modal-courtain{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51);
    top: 0px;
    left: 0px;
}

.abajo{
    margin-top: 25px;
}

.list-unstyled i{
    font-size: 25px;
    line-height: 45px;
}

#content{
    padding: 10px 30px
}

/* Estilos del tema */
.panel-default > .panel-heading, .panel-footer {
    box-shadow: none;
    color: white;
}

.breadcrumb.hidden-xs{
    margin-bottom: 20px;
}
.dropdown-menu.profile-menu a{
    padding: 10px 40px;
    line-height: 10px;
}

.tile hr{
    margin-bottom: 15px;
}

.select2-container--open, .select2-dropdown--above, .select2-results, 
.select2-search__field{
    color: black !important;
}

.form-requerido{
    text-shadow: none;
    font-weight: 900;
    background-color: rgba(255, 0, 0, 0.36);
    padding: 3px 10px;
    color: white;
}
.input-exception{
    opacity: 1 !important;
}
[data-input-edit-cell].edit-cell{
    cursor: pointer;
}

#logo{
    width: 100%;
    margin-top: 3%;
    border-right: 1px solid rgba(255, 255, 255, 0.44);
    padding: 20px;
}

.panel-faltas .panel-body{
    background-color: rgb(18, 18, 18);
}
.cortina{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    z-index: 12000;
    top: 0;
    left: 0;
}
.p-modal{
    /*background-color: white;*/
    width: 60%;
    height: 70%;
    margin: auto;
    position: relative;
}
.p-modal-header{
    background-color: #337AB7;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
}
.p-modal-body{
    /*background: rgba(255, 255, 255, 0.78);*/
    background: rgba(0, 0, 0, 0.80);
    padding: 30px 60px;
    /*color: black;*/
    color: white;
    font-size: 15px;
    text-shadow: none !important;
    height: 100%;
    overflow-y: auto;
}
.p-modal-footer{
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.80);
}

/* Estilos sobre-escritos */
.btn{
    background: transparent !important;
    padding: 7px 20px;
    border-radius: 3px !important;
    transition: all 0.6s;
}
.btn:hover{
    text-shadow: none;
    font-weight: 800;
}
.btn-success{
    background-color: rgba(92, 184, 92, 0.38) !important;    
}
.btn-danger{
    background-color: rgba(189, 84, 84, 0.95) !important;
}
.btn-success:hover{
    background-color: rgba(67, 148, 67, 0.63) !important;
    box-shadow: 0px 0px 5px rgba(92, 184, 92, 0.70);
    /*border: 1px solid rgb(31, 78, 31) !important;*/
}

.btn-primary{
    background-color: rgba(51, 122, 183, 0.38) !important;
}
.btn-primary:hover{
    background-color: rgba(29, 78, 121, 0.7) !important;
    box-shadow: 0px 0px 5px rgba(29, 78, 121, 0.7);
    /*border: 1px solid rgb(22, 66, 105) !important;*/
}
.btn-default:hover{
    background-color: rgba(0, 0, 0, 0.60) !important;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
    /*border: 1px solid rgb(255, 2556, 255) !important;*/
}

.btn-info{
    
}

.btn-warning{
    
}

.btn-default, .btn-gr-gray{
    background-color: rgba(0, 0, 0, 0.35) !important;
}
.btn-gr-gray{
    border-radius: 0px !important;
}
.btn-gr-gray.active{
    background-color: rgba(0, 0, 0, 0.80) !important;
}

.list-group-item, .table-hover>tbody>tr{
    transition: background 0.6s;
}

.list-group-item:hover{
    background: rgba(0, 0, 0, 0.27);
    font-weight: 900;
    color: white !important;
    text-shadow: none;
}

.table-hover>tbody>tr:hover {
    background-color: rgba(0,0,0,0.35) !important;
}

#sidebar {
    position: fixed;
    top: 50px;
    z-index: 10000;
}

#header{
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10000;
}
#content{
    padding: 50px 30px;
}

.table>tbody>tr.danger>td{
    background-color: rgba(247, 189, 189, 0.46) !important;
}

.table>tbody>tr.success>td{ 
    background-color: rgba(188, 224, 173, 0.48) !important;
}
.lobibox-body{
    color: black;
}

#icono-ayuda{
    position: absolute;
    right: 3%;
    top: 80px;
    font-size: 26px;
    width: 40px;
    height: 40px;
    text-align: center;
}
#icono-ayuda i{
    color: rgba(255,255,255, 0.4);
    cursor: pointer;
    transition: all 0.6s;
    text-shadow: none;
}
#icono-ayuda i:hover{
    /*color: rgba(29, 78, 121, 0.5) !important;*/
    color: rgba(255,255,255, 1);
    transform: scale(1.2, 1.2) translateY(-5px);
}
.table-options i{
    font-size: 15px;
    margin-right: 7px;
}
.pagination li a{
    color: white !important;
}
.lobibox-body{
    background-color: rgba(0, 0, 0, 0.79) !important;
    color: white !important;
}
hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
.well{
    background-color: rgba(37, 36, 36, 0.7);
}
.well h2, .well h3, .well h4, .well h5, .well h6{
    border-bottom: 1px solid white;
    padding-bottom: 8px;
}
body{
}

.borde-fondo:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.15);
}

.lbl-documento{
    width: 100%;
    display: block;
    padding: 11px 0px;
    font-size: 12px;
}
.req{
    color: red;
}
#objetivos-target, #objetivos-container{
    padding: 20px;
    border: 1px solid white;
    min-height: 200px;
    border-style: dashed; 
    overflow: auto;
    max-height: 240px;
}
#objetivos-target.allow, #objetivos-container.allow{
    overflow: visible;
    max-height: inherit;
    min-height: inherit;
}
.connectedSortable li{
    list-style: none;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 5px;
    cursor: move;
    transition: transform 0.6s, background-color 0.6s, color 0.6s;
    background-color: rgba(255, 255, 255, 0.32);
}
.connectedSortable li:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 1);
    color: black;
}
.panel{
    border: 1px;
}
.contenedor-jugadores{
    max-height: 400px;
    width: 100%;
    overflow: auto;
}

.listado-deportistas, .receptor-jugadores{
    padding: 20px;
    margin: 0px;
    min-height: 150px;
    width: 100%;
}

li.rep-jugador, 
li.rep-jugador{
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin: 20px 0px;
    cursor: pointer;
    cursor: -webkit-grabbing;
    background-color: rgba(0, 0, 0, 0.42);
    border: 1px solid rgba(0, 0, 0, 0.24);
    transition: transform 0.6s;
}

li.rep-jugador:hover{
    transform: scale(1.07);
}

.deportista-equipo{
    
}

.rep-jugador .pic img{
    max-height: 120px;
    margin: auto;
}
.rep-jugador .info{
    
}

.equipo{
    border: 1px solid rgba(255, 255, 255, 0.3);
}

li.rep-jugador{
    padding-bottom: 10px;
}

.panel-receptor{
    min-height: 150px;
    max-height: 260px;
    overflow: auto;
}
/*.receptor-jugadores .table-info{
    display: none;
}
.receptor-jugadores .pic img, 
.collapsed .pic img{
    max-height: 40px;
}
.listado-deportistas .nombre{
    display: none;
}*/

/* custom scroll bar */
.mCS-rounded.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    border-radius: 150% !important;
}
.equipo.panel .panel-heading{
    display: relative;
}
.remove-equipo{
    position: absolute;
    right: 35px;
    font-size: 18px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.53);
    text-shadow: none;
}

.carpetas{
    
}

.carpetas li.carpeta{
    list-style: none;
    display: inline-block;
    padding: 0px;
    width: 120px;
    height: 120px;
    margin: 25px 5px;
    text-align: center;
    vertical-align: middle;
}
.carpetas li.carpeta a{
    width: 100%;
    word-wrap: break-word;
}
.carpetas li.carpeta i{
    display: block;
    font-size: 70px;
    cursor: pointer;
    transition: content 0.6s;
}
.carpetas img{
    height: 100%;
    width: 100%;
    display: table-column;
}
.carpetas li.carpeta:hover i.fa-folder:before {
    content: "\f07c";
}

.container-jugadores{
    
}
.container-jugadores li{
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.54);
}

.img-pre{
    display: inline-table;
    width: 150px;
    margin: 0px 5px;
    margin-bottom: 20px;
    background-color: rgba(74, 74, 74, 0.85);
    padding: 10px;
    height: 160px;
    position: relative;
}
.img-pre .input-group{
    position: absolute;
    left: 8.5px;
    bottom: 10px;
    width: 90%;
}
.img-pre img{
    max-height: 100px;
}
.img-pre p{
    
}
.img-pre input[type="text"]{
    z-index: 9;
    position: relative;
}
.protector{
    width: 100%;
    height: 34px;
    z-index: 10;
    position: relative;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.img-pre i{
    cursor: pointer;
}

.modal-open .modal {
    z-index: 100000;
    background-color: rgba(255, 255, 255, 0.31);
}
@media (min-width: 768px){ 
    .modal-dialog {
        margin: 60px auto;
    }
}

.modal .btn-file, .modal .fileinput-remove, .modal .fileinput-upload-button{
    z-index: 2;
    margin-left: -1px;
    height: 34px;
    border-radius: 0px 5px 5px 0px !important;
    line-height: 28px;
}
.modal .fileinput-remove, .modal .fileinput-upload-button{
    border-radius: 0px !important;
}
.modal.modal-wide .modal-dialog{
    width: 70%;
}
.modal.modal-wider .modal-dialog{
    width: 90%;
}
.img-pre .btn-danger{
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0.7;
}
.img-pre .btn-danger:hover{
    opacity: 1;
}

.gallery{
    margin-bottom: 10px;
}
.gallery .title{
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}
.gallery .photos{
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.4);
}
.gallery .button{
    margin-top: 20px;
    clear: both;
}
.gallery .photos .pic{
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color: rgba(255,255,255,0.50);
    margin: 2px;
    float: left;
}
.gallery .photos .pic img{
    max-width: 100%;
    max-height: 100%;
}

.thumbs-list{
  overflow: auto;
  width: 800px;
  height: auto;
}

.thumbs-list{
  overflow: auto;
  width: 100%;
  /*height: 500px;*/
}
.thumb-pic{
    max-width: 80px;
}
.mTS-buttons-in {
    background-color: rgba(0, 0, 0, 0.34);
}
.gallery .btn-danger{
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 0px !important;
    opacity: 0.5;
    height: 100%;
}
.gallery .btn-danger:hover{
    opacity: 1;
}
.thumb-pic-gallery{
    position: relative;
    display: inline-block;
    width: 150px;
    padding: 2px;
    background-color: hsla(0, 0%, 100%, 0.35);
    margin: 3px;
}
.thumb-pic-gallery.active{
    background-color: #1d1da2;
    box-shadow: 0px 0px 8px 2px rgba(29, 29, 162, 0.8);
    transform: scale(1.05);
}
.thumb-pic-gallery.active:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;    
    background-color: rgba(29,29,162,0.2);
}
.thumb-pic-gallery img{
    cursor: pointer;
}
.thumb-gallery{
    position: relative;
}
.btn-del-img-gallery{
    height: 40px !important;
    width: 40px;
    padding: 0px;
    transform: translate(0, -40px);
    opacity: 1 !important;
}
.thumb-gallery:hover .btn-del-img-gallery{
    transform: translate(0, 0px);
}

.menu-active .list-unstyled.side-menu{
    position: absolute !important;
    left: 100% !important;
}
.menu-active #content {
    margin-left: 30px;
}
#sidebar.toggled {
    position: fixed;
}
.notificacion{

}
.notificacion i.fa{
    font-size: 30px;
}
#top-menu .tm-icon:hover span, #top-menu .tm-icon.open span, .drawer-toggle.open span {
    width: 90px !important;
}
.abajo{
    margin-top: 21.2px;
    margin-bottom: 20px;
}

.btn-group .btn {
    border-radius: 0px !important;
}
.btn-group .btn:last-child{
    border-radius: 0px 3px 3px 0px;
}
.btn-group .btn:first-child{
    border-radius: 3px 0px 0px 3px;
}

.select2-container--open, .select2-dropdown--above, .select2-results, .select2-search__field {
    z-index: 10000;
}

.dropdown-mas{
    height: 50px;
    width: 160px;
}

.dropdown-mas .dropdown-toggle{
    height: 100%;
    width: 100%;
}

.nav-map{
    
}

.nav-map > li{
    padding: 10px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 16px;
    width: 90%;
    cursor: pointer;
}
.nav-map li{
    list-style: none;
    transition: all 0.6s;
}
.nav-map li:hover, .nav-map li.active{
    background-color: rgba(0, 0, 0, 0.43);
    font-weight: 900;
    width: 100%;
}
.nav-map .fa{
    margin-right: 10px;
    width: 25px;
}

.icon-report{
    font-size: 25px;
    margin-right: 10px;
}

.form-inline .separate{
    margin-right: 10px;
}

.jOrgChart .node {
    background-color: rgba(241, 242, 247, 0.68);
    color: black;
    font-size: 14px;
    font-weight: 900;
    border-radius: 10px !important;
}
.lobibox-notify-wrapper{
    z-index: 100001;
}
.logo-brand{
    width: 30px;
    margin-right: 10px;
    position: absolute;
    left: 60px;
    bottom: 10px;
}
.logo{
    font-weight: 900;
    padding-left: 50px;
}

.lobibox-header, .lobibox-footer{
    background-color: #0760B3 !important;  
}

.lobibox-icon{
    color: #0760B3 !important;
}
.t-calendar{
    cursor: pointer;
}
.pointer{
    cursor: pointer;
}
.wickedpicker__controls, .wickedpicker__controls__control, .wickedpicker__controls__control--separator, .wickedpicker__controls__control-down, .wickedpicker__controls__control-up, .wickedpicker__title {
    color: black;
}
.lobibox-backdrop{
    z-index: 100001;
}

.lobibox-confirm{
    z-index: 100002;
}


@-webkit-keyframes roll-img {
    0%      { transform: scaleX(-1); }   
    /*50%    { transform: scaleX(-1);  }*/
    100%    { transform: scaleX(1);  }
}
@-moz-keyframes roll-img {
    0%      { transform: scaleX(-1); }   
    /*50%    { transform: scaleX(-1);  }*/
    100%    { transform: scaleX(1);  }
}

@-o-keyframes roll-img {
    0%      { transform: scaleX(-1); }   
    /*50%    { transform: scaleX(-1);  }*/
    100%    { transform: scaleX(1);  }
}
@keyframes roll-img {
    0%      { transform: scaleX(-1); }   
    /*50%    { transform: scaleX(-1);  }*/
    100%    { transform: scaleX(1);  }
}

.gallery-manager{
    cursor: pointer;
    display: inline-block;
    position: relative;
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
    margin: 2.0px;
    /*background-color: rgba(255, 255, 255, 0.47);*/
    /*padding: 6px;*/
}

.image-gallery-container{
    padding: 20px 20px;
    display: inline-block;
    margin: auto;
    width: 88.3%;
    text-align: left;
}

.image-gallery-container-wraper{
    text-align: center;
}

.gallery-manager img{
    transition: transform 0.6s;
}

.gallery-manager:hover img{
    /*transform: scaleX(-1);*/
    -webkit-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;

    -webkit-animation: roll-img 0.6s;
    -moz-animation: roll-img 0.6s;
    -ms-animation: roll-img 0.6s;
    -o-animation: roll-img 0.6s;
    animation: roll-img 0.6s;

}

.gallery-manager .caption{
    position: absolute;
    top: -50%;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px 6px;
    transition: all 0.6s;
}

.gallery-manager .label-view{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    display: table-column-group;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.56);
    background-color: rgba(0, 0, 0, 0.62);
    padding: 11px;
    opacity: 0;
    transition: all 0.6s;
}

.gallery-manager:hover .caption{
    top: 0%;
}
.gallery-manager:hover .label-view{
    opacity: 1;
}
.img-container{
    cursor: pointer;
    margin: 2px;
    display: inline-block;
}
#img-list, #preview-img-add{
    max-height: 500px;
    overflow: auto;
}